
/*--LAYOUT--*/

.grid-container {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.4fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

/*--HEADER/NAV--*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, black, rgb(115, 0, 223));
    grid-area: header;
    padding-bottom: 25px;
}

.header img{
    margin-left: 15px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 200px;
}

.header nav ul{
    display: flex;
    list-style: none;
}

.header nav ul li{
    margin: 25px;
}

.header nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    transition: font-size 1s;
}

.header nav ul li a:hover{
    color: #0066eb;
    font-size: 25px;
    text-shadow: 0ch;
}


/*--MAIN--*/

.main{
    grid-area: main;
    background-color: rgb(115, 0, 223);
}

.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.514)), url("../imagenes/heroSection.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1{
    font-size: 60px;
    color: beige;
}

.hero p{
    font-size: 15px;
    color: beige;
}

.hero a{
    color: white;
    background-color: #7b7b7b;
    border:1px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    transition: background-color 1s;
}

.hero a:hover{
    background-color: #004aad;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.main > h2{
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    padding:105px;
    font-size: 35px;
    background-image: linear-gradient(to bottom, black, rgb(115, 0, 223));
}

.sections{
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(115, 0, 223), rgb(40, 40, 212));
    padding-left: 20px;
    padding-right: 20px;
}

.sections div div{
    background-image: linear-gradient(to top, rgb(100, 100, 100),rgb(255, 255, 255));
    transition: background-image 1s;
}

.sections div div:hover{
    background-image: linear-gradient(to bottom,  rgb(100, 100, 100),rgb(255, 255, 255));
}

.sections div a{
    display: flex;
    align-items: center;
    justify-content: center;
}



.mapas{
    padding-top: 65px;
    padding-bottom: 180px;
    background-image: linear-gradient(to bottom, rgb(40, 40, 212), rgb(115, 0, 223));
}

.mapas h2{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.mapas > div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mapas div div{
    width: 300px;
    height: 80px;
    border: 1px solid white;
    border-radius: 15px;
    transition: width heigth 4s;
}

.mapas div div:hover{
    width: 400px;
    height: 120px;
}

.mapas div div h3{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.mapas div div a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.mapas div div a:hover{
    color: #0066eb;
}

/*--FOOTER--*/

.footer{
    grid-area: footer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(115, 0, 223);
    padding-bottom: 10px;
}

.footer a img{
    margin-left: 15px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 2px solid black;
}


.footer ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.footer ul li a:hover{
    color: white;
    text-shadow:black;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
}

.redes {
    display: flex;
    justify-content: space-between;
}

.redes img{
    width: 40px;
    height: 40px;
}


/*--PAGES--CONTACTO--*/

.contactoform{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.767), rgba(115, 0, 223, 0.76));
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactoform div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*--PAGES--ACERCA DE NOSOTROS*/

.biografia{
    background: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.514)), url("../imagenes/herosection.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right:50px ;
    padding-top: 30px;
}

.biografia div{
    background-color: rgba(0, 0, 0, 0.712);
}


/*--PAGES--PRODUCTOS--*/


/*--PAGES--SERVICIOS--*/











/*MEDIAS QUERIES*/

@media screen and (max-width: 1200px){
    .sections{
        flex-wrap: wrap;
    }

    .hero{
        width: 100%;
    }
}

@media screen and (max-width: 1000){
    .header nav ul li a{
        font-size: 10px;
    }

    .header{
        flex-direction: column;
    }
}

@media screen and (max-width: 578px){
    .header{
        flex-direction: column;
    }

    .header nav ul{
        flex-direction: column;
        align-items: center;
    }

    .hero{
        flex-direction: column;
    }

    .sections{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card{
        margin: 15px;
    }

    .mapas > div{
        flex-direction: column;
        align-items: center;
    }

    .mapas > div div{
        margin: 15px;
    }

    .footer{
        flex-direction: column;
    }

    .redes{
        flex-direction: column;
    }

    .redes a img{
        width: 55px ;
        height: 55px;
    }
}